#title-container {
  height: 50vh;

  border-style: solid;
}

h1 {
  padding: 2px;
  justify-content: center;
  width: 500px;
  text-align: center;
  margin-left: calc((100% - 500px) / 2);
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  width: 100px;
  text-align: center;
  margin-left: calc((100% - 100px) / 2);
  align-items: center;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
